!!! 5
%html{:lang => "es"}
  %head
    %meta{:charset => "utf8"}/
    %title titre
    = style 'style.css'
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Le styles
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
  %body
    %h1 
      titre h1
    .balise
      1ere section
    %section
      2eme section
